<div class="card" *ngIf="repository">
    <div class="card__body">
        <h4 class="card__title"> {{repository.name}}</h4>
        <p class="card__description">
            <span class="card__description"> {{repository.description}}</span>
        </p>
        <p class="card__description">
            <span class="card__description"> language: {{repository.language}}</span>
        </p>
        <p class="card__description">
            <span class="card__description"> updated: {{repository.updated_at | date:'yyyy-MM-dd'}}</span>
        </p>
        <p class="card__description">
            <span class="card__description"> owner: {{repository.owner.login}}</span>
        </p>
        <p class="card__description">
            <span class="card__description link" (click)="repositoryOpen(repository.html_url)">
                {{repository.html_url}}</span>
        </p>
    </div>